SVGVisual_analysis_spacy_book1857_ok.svg filter=lfs diff=lfs merge=lfs -text
SVGVisual_analysis_spacy_book1873_ok.svg filter=lfs diff=lfs merge=lfs -text
SVGVisual_analysis_spacy_book1876_ok.svg filter=lfs diff=lfs merge=lfs -text
